h1 {
font-family: "Montserrat";
color: #fff;
font-size: 4rem;
line-height: 1.5;
font-weight: 900;
}

h2 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.5;
}

h3 {
    font-family: "Montserrat";
    font-weight: 900;
}

P {
    color: #8f8f8f;
}

#title {
    background-color: #000;
}

.container-fluid {
    padding: 3% 15%;
}

.navbar {
    padding-bottom: 1rem;
}

.nav-item {
    padding: 0 18px;
    font-family: "Monsterrat";
}

.nav-link {
    font-family: "Monsterrat";
    font-size: 1.75rem;
    font-weight: 1600;
    color: #fff;
}

.navbar-brand {
    font-family: "Montserrat";
    font-size: 2.5rem;
    font-weight: 900;
    color: #fff;
}

.download-button {
    margin: 2% 2% 2% 0%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #000;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #5BB318;
}

#slider {
    text-align: center;
    background-color: #000;
    color: #fff;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

#footer {
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 900;
    color: #000;
    text-align: center;
    padding: 1% 10%;
    margin-bottom: 20px;
}

#cta {
    background-color: #fff;
    color: #000;
    padding: 5% 5%;
    text-align: center;
}

#social-media {
    background-color: #000;
    color: #fff;
    padding: 1%;
    text-align: center;
}

#cta h3 {
    text-align: center;
}

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    #slider {
        text-align: center;
    }

    .title-image {
        position: static;
    }

    .carousel-item {
        position: static;
        text-align: center;
    }
}

.card-header {
    background-color: #000;
}

.card-header-time {
    color: #fff;
    font-size: 3rem;
}